body {
  max-width: 600px;
  background-color: azure;
  margin: 50px auto;
}

h1,
h2,
p {
  text-align: center;
}

p {
  margin: 30px;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: green;
}

.croissant-photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
